--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/media?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1362669769&signature=hPA4pDDlR2vDrhAgII13S4HxXNok1VkipBxfFwzaq4E%3D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      content-type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 201 Created
    body: 
      encoding: US-ASCII
      string: "{\"publish_date\": null, \"category\": null, \"description\": null, \"sched_end_date\": null, \"tags\": [], \"title\": \"test\", \"media_id\": \"7a504e2a240f49e084825482902ae91f\", \"media_type\": \"Video\", \"original_filename\": \"sample-mp4\", \"sched_start_date\": null, \"restrictionrule_id\": null, \"create_date\": 1362669513, \"state\": \"New\", \"total_storage_in_bytes\": 0, \"thumbnails\": [{\"url\": \"http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf\", \"width\": \"\", \"height\": \"\"}, {\"url\": \"http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf\", \"width\": \"\", \"height\": \"\"}], \"ref_id\": null, \"update_date\": 1362669513, \"custom_property\": null, \"duration_in_milliseconds\": 0}"
  recorded_at: Thu, 07 Mar 2013 15:17:52 GMT
- request: 
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/channels?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1362669772&signature=JavS05hYgjfHvKfR9QNixNCN2Y84OL7RyPAy%2Fr6UTsY%3D
    body: 
      encoding: US-ASCII
      string: title=new_channel
    headers: 
      content-type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 201 Created
    body: 
      encoding: US-ASCII
      string: "{\"publish_date\": null, \"email_enabled\": false, \"thumbnail_url\": \"\", \"description\": null, \"embed_enabled\": false, \"title\": \"new_channel\", \"channel_id\": \"a1803fd4dca34954860a9233fc966cd4\", \"search_inside_enabled\": false, \"rss_enabled\": false, \"create_date\": 1362669514, \"state\": \"NotPublished\", \"itunes_rss_enabled\": false, \"autoplay_enabled\": false, \"update_date\": 1362669514, \"custom_property\": null}"
  recorded_at: Thu, 07 Mar 2013 15:17:53 GMT
- request: 
    method: put
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/channels/a1803fd4dca34954860a9233fc966cd4/properties?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1362669773&signature=skUVXNArPw59pP%2F%2BblWxuLMsY6mCfsuqELC8aMOcGAE%3D
    body: 
      encoding: US-ASCII
      string: state=Published
    headers: 
      content-type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - "\"c9728a5b6d812daa08d59ebc49e247f1\""
    body: 
      encoding: US-ASCII
      string: "{\"publish_date\": 1362669515, \"email_enabled\": false, \"thumbnail_url\": \"\", \"description\": null, \"embed_enabled\": false, \"title\": \"new_channel\", \"channel_id\": \"a1803fd4dca34954860a9233fc966cd4\", \"search_inside_enabled\": false, \"rss_enabled\": false, \"create_date\": 1362669514, \"state\": \"Published\", \"itunes_rss_enabled\": false, \"autoplay_enabled\": false, \"update_date\": 1362669515, \"custom_property\": null}"
  recorded_at: Thu, 07 Mar 2013 15:17:54 GMT
- request: 
    method: put
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/channels/a1803fd4dca34954860a9233fc966cd4/media/7a504e2a240f49e084825482902ae91f?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1362669774&signature=ijS3h4WGct7rGZpwMVcEXCjH2UUoA3%2FdJaWOtYYgfJk%3D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - "\"d751713988987e9331980363e24189ce\""
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Thu, 07 Mar 2013 15:17:54 GMT
- request: 
    method: get
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/channels/a1803fd4dca34954860a9233fc966cd4/media.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json;charset=UTF-8
      etag: 
      - "\"31f56176f69742cebd7ed48e5b62c9b5\""
    body: 
      encoding: US-ASCII
      string: "{\"has_next\":false,\"data_as_of\":1362669516,\"page_id\":0,\"media_list\":[]}"
  recorded_at: Thu, 07 Mar 2013 15:17:54 GMT
recorded_with: VCR 2.1.1
