---
http_interactions:
- request:
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/channels?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1342477069&signature=j5htarnEaqAg%2Fr5PTwV7tChO7%2FWS7Im7bWb%2FNsjZDcI%3D
    body:
      encoding: US-ASCII
      string: title=test
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": null, "email_enabled": false, "thumbnail_url": "",
        "description": null, "embed_enabled": false, "title": "test", "channel_id":
        "1dc4cb21fdc64be3a10ebc0494b58893", "search_inside_enabled": false, "rss_enabled":
        false, "create_date": 1342476770, "state": "NotPublished", "itunes_rss_enabled":
        false, "autoplay_enabled": false, "update_date": 1342476770, "custom_property":
        null}'
  recorded_at: Mon, 16 Jul 2012 22:12:51 GMT
- request:
    method: put
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/channels/1dc4cb21fdc64be3a10ebc0494b58893/properties?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1342477071&signature=AriimgDeS0D4O5Z%2FPB6V8%2FQ4Dq81nGXPC8REu8j5zyQ%3D
    body:
      encoding: US-ASCII
      string: state=Published
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"a40655af47b3dee61546c996e12cb14e"'
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": 1342476772, "email_enabled": false, "thumbnail_url":
        "", "description": null, "embed_enabled": false, "title": "test", "channel_id":
        "1dc4cb21fdc64be3a10ebc0494b58893", "search_inside_enabled": false, "rss_enabled":
        false, "create_date": 1342476770, "state": "Published", "itunes_rss_enabled":
        false, "autoplay_enabled": false, "update_date": 1342476772, "custom_property":
        null}'
  recorded_at: Mon, 16 Jul 2012 22:12:53 GMT
recorded_with: VCR 2.1.1
