---
http_interactions:
- request:
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/channels?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1342477046&signature=LxCti5gyUtYAtwjVo7JzsD%2Buyi0rwKlBDFnNfxjMwcA%3D
    body:
      encoding: US-ASCII
      string: title=deleted_channel
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": null, "email_enabled": false, "thumbnail_url": "",
        "description": null, "embed_enabled": false, "title": "deleted_channel", "channel_id":
        "fae7f11fa9ba4821a98978078f3c4ed6", "search_inside_enabled": false, "rss_enabled":
        false, "create_date": 1342476747, "state": "NotPublished", "itunes_rss_enabled":
        false, "autoplay_enabled": false, "update_date": 1342476747, "custom_property":
        null}'
  recorded_at: Mon, 16 Jul 2012 22:12:28 GMT
- request:
    method: put
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/channels/fae7f11fa9ba4821a98978078f3c4ed6/properties?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1342477048&signature=MPmBe8HSl6%2F0c6VXZIqZF94HgAYv%2FiXtS8JOgar%2BD6s%3D
    body:
      encoding: US-ASCII
      string: state=Published
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"99011f3232c4e9f519cd1cd1026f8181"'
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": 1342476750, "email_enabled": false, "thumbnail_url":
        "", "description": null, "embed_enabled": false, "title": "deleted_channel",
        "channel_id": "fae7f11fa9ba4821a98978078f3c4ed6", "search_inside_enabled":
        false, "rss_enabled": false, "create_date": 1342476747, "state": "Published",
        "itunes_rss_enabled": false, "autoplay_enabled": false, "update_date": 1342476750,
        "custom_property": null}'
  recorded_at: Mon, 16 Jul 2012 22:12:30 GMT
- request:
    method: delete
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/channels/fae7f11fa9ba4821a98978078f3c4ed6?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1342477050&signature=u42yieGRFcZqxftceTE1jZoSVAHCdhTZFIfZZUY4v1c%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Mon, 16 Jul 2012 22:12:32 GMT
recorded_with: VCR 2.1.1
