---
http_interactions:
- request:
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/889457f434f14057bdcc9a1f39bd9614/channels?access_key=5CIILY3Sw1P%2FqF2VHikRPXMEPdA%3D&expires=1342099330&signature=Z%2FZNw14gcfzcDS3J0Nt5oNOUpa%2BCyzmnKaMwYJX%2Blxk%3D
    body:
      encoding: US-ASCII
      string: title=deleted_channel
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": null, "email_enabled": false, "thumbnail_url": "",
        "description": null, "embed_enabled": false, "title": "deleted_channel", "channel_id":
        "f9ee6599cf6d4f3a86506d946448153e", "search_inside_enabled": false, "rss_enabled":
        false, "create_date": 1342099036, "state": "NotPublished", "itunes_rss_enabled":
        false, "autoplay_enabled": false, "update_date": 1342099036, "custom_property":
        null}'
  recorded_at: Thu, 12 Jul 2012 13:17:17 GMT
- request:
    method: delete
    uri: http://api.videoplatform.limelight.com/rest/organizations/889457f434f14057bdcc9a1f39bd9614/media/f9ee6599cf6d4f3a86506d946448153e?access_key=5CIILY3Sw1P%2FqF2VHikRPXMEPdA%3D&expires=1342099337&signature=FmLU%2FJPV169BN5cSHrAeZ3sKreGyW26lGHdjv9mSN7A%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 500 Internal Server Error
    body:
      encoding: US-ASCII
      string: ! '{"errors": ["Internal error. Please try your request again."]}'
  recorded_at: Thu, 12 Jul 2012 13:17:18 GMT
recorded_with: VCR 2.1.1
