---
http_interactions:
- request:
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/media?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1342477089&signature=k%2BOP0T8ss9WmKlO0VMxrlP2aZ9OcFnzNKfg28kR3fwk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": null, "category": null, "description": null, "sched_end_date":
        null, "tags": [], "title": "test", "media_id": "bb8d0c06f5c54d23ad7e21bbbb2955f9",
        "media_type": "Video", "original_filename": "sample-mp4", "sched_start_date":
        null, "restrictionrule_id": null, "create_date": 1342476801, "state": "New",
        "total_storage_in_bytes": 0, "thumbnails": [{"url": "http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf",
        "width": "", "height": ""}, {"url": "http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf",
        "width": "", "height": ""}], "ref_id": null, "update_date": 1342476802, "custom_property":
        null, "duration_in_milliseconds": 0}'
  recorded_at: Mon, 16 Jul 2012 22:13:22 GMT
- request:
    method: delete
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/media/bb8d0c06f5c54d23ad7e21bbbb2955f9?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1342477102&signature=%2FP6n%2BZQnHoUHytNdEayI%2B9XcPaFZp4qBFcqDirhMh8U%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Mon, 16 Jul 2012 22:13:24 GMT
- request:
    method: get
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/media/bb8d0c06f5c54d23ad7e21bbbb2955f9/properties.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json;charset=UTF-8
      etag:
      - ! '"18a3df574e3c45b39f03578f05133bbe"'
    body:
      encoding: US-ASCII
      string: ! '{"errors": ["Media either does not exist or you do not have access
        to it."]}'
  recorded_at: Mon, 16 Jul 2012 22:13:24 GMT
recorded_with: VCR 2.1.1
