---
http_interactions:
- request:
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/media?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1342477104&signature=TO%2B1wozWjwHC%2FXZupazSq3JqVAw8mjlDQ4jG5Rsi3%2BY%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": null, "category": null, "description": null, "sched_end_date":
        null, "tags": [], "title": "test", "media_id": "0aa63dc10c784f95880990d010d888f4",
        "media_type": "Video", "original_filename": "sample-mp4", "sched_start_date":
        null, "restrictionrule_id": null, "create_date": 1342476815, "state": "New",
        "total_storage_in_bytes": 0, "thumbnails": [{"url": "http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf",
        "width": "", "height": ""}, {"url": "http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf",
        "width": "", "height": ""}], "ref_id": null, "update_date": 1342476816, "custom_property":
        null, "duration_in_milliseconds": 0}'
  recorded_at: Mon, 16 Jul 2012 22:13:36 GMT
recorded_with: VCR 2.1.1
