---
http_interactions:
- request:
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/media?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1343497115&signature=ELm7taG2oStvwZ1YJi%2FBdAV1JjhbsNOx24u1%2F9gGxPI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": null, "category": null, "description": null, "sched_end_date":
        null, "tags": [], "title": "test", "media_id": "df9a440982724c1d97ad626a749eb696",
        "media_type": "Video", "original_filename": "sample-mp4", "sched_start_date":
        null, "restrictionrule_id": null, "create_date": 1343496823, "state": "New",
        "total_storage_in_bytes": 0, "thumbnails": [{"url": "http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf",
        "width": "", "height": ""}, {"url": "http://img.delvenetworks.com/0000000000000000000000/0000000000000000000000/defaultVideoPreviewImage.swf",
        "width": "", "height": ""}], "ref_id": null, "update_date": 1343496824, "custom_property":
        null, "duration_in_milliseconds": 0}'
  recorded_at: Sat, 28 Jul 2012 17:33:44 GMT
- request:
    method: get
    uri: http://api.delvenetworks.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/analytics/report/media.json?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1343497124&media_id=df9a440982724c1d97ad626a749eb696&signature=ej2UOC3%2BoqDL9lwbfjkZemqDFGfwt4yprnaSYbLOHTE%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Sat, 28 Jul 2012 17:33:49 GMT
recorded_with: VCR 2.1.1
