--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/analytics/performance/media.json?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&end=1362114000&expires=1362672570&signature=%2FEw7q4luy4lQA6yzlQm6z5dlrKNJxFB7%2BTVTNtsSGZQ%3D&start=1359694800
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json;charset=UTF-8
      etag: 
      - "\"603ac51de5344507a7ebbf470efe7adb\""
    body: 
      encoding: US-ASCII
      string: "{\"has_next\":false,\"data_as_of\":1362672314,\"page_id\":0,\"media\":[]}"
  recorded_at: Thu, 07 Mar 2013 16:04:32 GMT
recorded_with: VCR 2.1.1
