---
http_interactions:
- request:
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/channels?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1342476981&signature=Lfc%2FpjSA6KUeA2napd8uGeaDP%2B8ypvrEO8H%2BJa0Mk%2FA%3D
    body:
      encoding: US-ASCII
      string: title=GLaDOS+Channel
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": null, "email_enabled": false, "thumbnail_url": "",
        "description": null, "embed_enabled": false, "title": "GLaDOS Channel", "channel_id":
        "7dfe69dd5e4d42119c78a92fbd7304d7", "search_inside_enabled": false, "rss_enabled":
        false, "create_date": 1342476683, "state": "NotPublished", "itunes_rss_enabled":
        false, "autoplay_enabled": false, "update_date": 1342476683, "custom_property":
        null}'
  recorded_at: Mon, 16 Jul 2012 22:11:23 GMT
- request:
    method: put
    uri: http://api.videoplatform.limelight.com/rest/organizations/dde8e72013ba44768e764e1bff217a5a/channels/7dfe69dd5e4d42119c78a92fbd7304d7/properties?access_key=DaYkT4MO0DwIdTk1Af9XmHFHFGM%3D&expires=1342476983&signature=huwBP%2Bbol3GNpa4FHmb%2FnLGNa47KsZ7KjWGivtblk3Y%3D
    body:
      encoding: US-ASCII
      string: title=Aperture+Science+Channel
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"3486d3cb8a8789aa4fad2a6a158fd503"'
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": null, "email_enabled": false, "thumbnail_url": "",
        "description": null, "embed_enabled": false, "title": "Aperture Science Channel",
        "channel_id": "7dfe69dd5e4d42119c78a92fbd7304d7", "search_inside_enabled":
        false, "rss_enabled": false, "create_date": 1342476683, "state": "NotPublished",
        "itunes_rss_enabled": false, "autoplay_enabled": false, "update_date": 1342476685,
        "custom_property": null}'
  recorded_at: Mon, 16 Jul 2012 22:11:25 GMT
recorded_with: VCR 2.1.1
