---
http_interactions:
- request:
    method: post
    uri: http://api.videoplatform.limelight.com/rest/organizations/889457f434f14057bdcc9a1f39bd9614/channels?access_key=5CIILY3Sw1P%2FqF2VHikRPXMEPdA%3D&expires=1342125287&signature=beg7N5dfAa1JGkv8DriAl6VDj%2B7iI1vqvTHpPTlGRbw%3D
    body:
      encoding: US-ASCII
      string: title=GLaDOS+Channel
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": null, "email_enabled": false, "thumbnail_url": "",
        "description": null, "embed_enabled": false, "title": "GLaDOS Channel", "channel_id":
        "3143c9e3c87342f6aac3217ff407ce1b", "search_inside_enabled": false, "rss_enabled":
        false, "create_date": 1342124934, "state": "NotPublished", "itunes_rss_enabled":
        false, "autoplay_enabled": false, "update_date": 1342124934, "custom_property":
        null}'
  recorded_at: Thu, 12 Jul 2012 20:29:50 GMT
- request:
    method: put
    uri: http://api.videoplatform.limelight.com/rest/organizations/889457f434f14057bdcc9a1f39bd9614/channels/3143c9e3c87342f6aac3217ff407ce1b/properties?access_key=5CIILY3Sw1P%2FqF2VHikRPXMEPdA%3D&expires=1342125290&signature=K%2B7jFsGuDa1TQzUrQyDtsXypfTfLx%2B2f7imZmToXJYo%3D
    body:
      encoding: US-ASCII
      string: title=Aperture+Science+Channel
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"ce27f7c6aa744d4c8da3b2a3bf3ecf7c"'
    body:
      encoding: US-ASCII
      string: ! '{"publish_date": null, "email_enabled": false, "thumbnail_url": "",
        "description": null, "embed_enabled": false, "title": "Aperture Science Channel",
        "channel_id": "3143c9e3c87342f6aac3217ff407ce1b", "search_inside_enabled":
        false, "rss_enabled": false, "create_date": 1342124934, "state": "NotPublished",
        "itunes_rss_enabled": false, "autoplay_enabled": false, "update_date": 1342124938,
        "custom_property": null}'
  recorded_at: Thu, 12 Jul 2012 20:29:54 GMT
recorded_with: VCR 2.1.1
